ul {
	border-width: 3px;
	border-color: plum;
	border-style: dotted;
	border-radius: 5px;
}
li {
	border-top: 3px seagreen solid;
}
.mammal {
	color: red;
	background-color: lavenderblush;
	font-weight: bold;
}
.bird {
	color: blue;
	background-color: lightgray;
	font-style: italic;
}
.fish {
	color: orange;
	background-color: lightyellow;
	text-decoration: solid;
}
#mouse {
	color: gray;
}
#canary {
	color: orangered;
}
#penguin {
	color: black;
}
#salmon {
	color: salmon;
}
#cat {
	color: sienna;
}
#goldfish {
	color: gold;
}
#dog {
	color: tan;
}
#sheep {
	color: steelblue;
}
#parakeet {
	color: lime;
}
#tuna {
	color: purple;
}